<div class="form-usuario">
<h3>Oferta</h3>
<form class="formContainer" id="FormIngreso" name="FormIngreso">


  <label><b>Sucursal</b></label>
  <select class="formSelect" ng-model="ofer.id_sucursal" ng-change="traerProductos()" name="oferSucursal"  required
      ng-options="suc as suc.sucursal for suc in ListaSucursales track by suc.id">
  </select>

    
  <label><b>Producto</b></label>
  <select class="formSelect" data-ng-model="ofer.id_producto" name="oferProducto" required
      ng-options="prod as prod.nombre for prod in ListaProductos track by prod.id">
  </select>

  <label><b>Fecha de Fin de Oferta</b></label>
  <input class="loginText" ng-model="ofer.fechaFin" type="date" name="oferFechaFin" ng-change="ChequearFecha()" name="oferFechaFin" required>
  <span style="color:#FF0000;float:right;font-size:18;margin-left:200" ng-show='FormIngreso.oferFechaFin.$error.required'>* Ingrese una fecha</span><br>
  <span style="color:#FF0000;float:right;font-size:18;margin-left:200" ng-show='(!FormIngreso.oferFechaFin.$error.required && fechaInvalida)'>* La fecha ingresada no esta dentro del rango admitido.</span>

  <label><b>Porcentaje de Descuento %</b></label>
 <input class="loginText" ng-model="ofer.tipo_descuento" type="number" min='1' max="99" placeholder='0' name="oferDescuento" required>
    
    {{ofer}}
    {{FormIngreso.oferFechaFin.$error}}
    {{FormIngreso.oferDescuento.$error}}
    {{FormIngreso.oferProducto.$error}}
    {{FormIngreso.oferSucursal.$error}}
  <button class="loginButton" ng-disabled="(FormIngreso.$invalid || fechaInvalida)" ng-click="Guardar()">{{modo}}</button>


</form>
</div>