<form class="form-usuario" name="FormLogIn">
	<h1>Login</h1>

	<input type="text" name="correo" ng-model="usuario.correo" placeholder="Ingrese usuario" required/>
    <input type="password" name="clave" ng-model="usuario.clave" placeholder="Ingrese clave" required/>


	<br><br><button type="submit" name="btnRegistrar" ng-disabled=" !FormLogIn.$valid" ng-click="enviarDatos()">Enviar datos</button>

	<button ng-click="LoginAsAdmin()">Admistrador</button>
	<button ng-click="LoginAsComp()">Comprador</button>
	<button ng-click="LoginAsVend()">Vendedor</button>
	<button ng-click="LoginAsEnc()">Encargado</button>


	<button ng-click="authenticate('github')">Sign in with GitHub</button>
</form>