<div class="form-usuario" >
<ng-form name="FormAltaPersona" nv-file-drop="" uploader="SubidorDeArchivos">
	<h1>{{modo}}</h1>

	<input type="text" name="nombre" ng-model="producto.nombre" placeholder="Ingrese nombre" required/>
    <input type="text" name="tipo" ng-model="producto.tipo" placeholder="Ingrese tipo" required/>
    <textarea type="text" name="descripcion" ng-model="producto.descripcion" placeholder="Escriba una descripción..." required></textarea>
    
    <div ng-for="ps in producto.productos_sucursal" class="inline-form" ng-if="modo == 'Agregar'">
        <select name="sucursal" ng-model="ps.id_sucursal">
            <option ng-repeat="s in sucursales" ng-value="s.id_sucursal">{{s.nombre}}</option>
        </select>
        <input type="number" name="precio" min="1" ng-model="ps.precio">

    </div>

    <button class="btn btn-outline-primary" ng-click="agregarProductoSucursal()" ng-if="modo == 'Agregar'">Agregar otro </button>
    
    <input type="number" name="precio" min="1" ng-model="producto.precio" ng-if="modo == 'Modificar'">    
    <input type="text" disabled name="sucursal" ng-model="producto.snombre" ng-if="modo == 'Modificar'">

    <input class="loginText" type="file" nv-file-select uploader="SubidorDeArchivos" queueLimit="3">

    <li ng-repeat="item in SubidorDeArchivos.queue" >
      Archivo: <span ng-bind="item.file.name"></span><br/>
      <div ng-show="SubidorDeArchivos.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

      <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
        <span class="glyphicon glyphicon-trash"></span> Remove
      </button>
    </li>  

	<br><br><button type="submit" name="btnRegistrar" ng-click="SubidorDeArchivos.uploadAll()" >Enviar datos</button>
</form></div>