<div class="form-persona">
	<h1>Grilla de personas</h1>
	<hr>
	<div class="tabla-col">
		<b>Dni</b>
	</div>
	<div class="tabla-col">
		<b>Sexo</b>
	</div>
	<div class="tabla-col">
		<b>Fecha de votación</b>
	</div>
	<div class="tabla-col">
		<b>Partido Político</b>
	</div>
	<div class="tabla-col">
	</div>
	<div class="tabla-col">
	</div><hr>

	<div ng-repeat="votacion in votaciones">
		<div class="tabla-col" ng-bind="votacion.dni"></div>
		<div class="tabla-col" ng-bind="votacion.sexo"></div>
		<div class="tabla-col" ng-bind="votacion.fecha"></div>
		<div class="tabla-col" ng-bind="votacion.partido"></div>
		<div class="tabla-col"><button class="btn-table" ng-click="modificarVotacion(votacion)" ng-show="usuario.tipo == 'admin'">Modificar</button></div>
		<div class="tabla-col"><button class="btn-table" ng-click="borrarVotacion(votacion)" ng-show="usuario.tipo == 'admin'">Borrar</button></div>
	</div>

</div>