<ng-form class="form-persona" name="FormAltaVotacion" nv-file-drop="" uploader="SubidorDeArchivos">
	<h1>Alta de personas</h1>

	<input type="text" name="apellido" ng-model="votacion.partido" placeholder="Ingrese partido político" required/>
	
	<div class="tercio"><b>Sexo</b></div>
	<div class="tercio">Femenino <input type="radio" name="sexo" ng-model="votacion.sexo" value="Femenino" ng-required="true"/></div>
	<div class="tercio">Masculino <input type="radio" name="sexo" ng-model="votacion.sexo" value="Masculino" ng-required="true"/></div>

	<input type="text" name="dni" ng-model="votacion.dni" placeholder="Ingrese dni" maxlength="8" minlength="5" numbers-only="numbers-only" required/>
	<input type="date" name="nacimiento" ng-model="votacion.fecha" placeholder="Ingrese fecha de votación" required/>
	
	<br><br><button type="submit" name="btnRegistrar" ng-click="enviarDatos()" ng-disabled="FormAltaVotacion.$invalid" >Enviar datos</button>

    <br><br><button type="submit" name="btnRegistrar" ng-click="ingresarAlSistema()" ng-show="usuario.nombre == ''" >Ingresar al sistema</button>
</form>