<div class="form-persona">
	<h1>Grilla de personas</h1>
	<hr>
	<div class="tabla-col">
		<b>Nombre</b>
	</div>
	<div class="tabla-col">
		<b>Apellido</b>
	</div>
	<div class="tabla-col">
		<b>Dni</b>
	</div>
	<div class="tabla-col">
		<b>Foto</b>
	</div>
	<div class="tabla-col">
	</div>
	<div class="tabla-col">
	</div><hr>

	<div ng-repeat="persona in personas">
		<div class="tabla-col" ng-bind="persona.nombre"></div>
		<div class="tabla-col" ng-bind="persona.apellido"></div>
		<div class="tabla-col" ng-bind="persona.dni"></div>
		<div class="tabla-col"><!--<img src="{{persona.foto}}">--></div>
		<div class="tabla-col"><button class="btn-table" ng-click="modificarPersona(persona)">Modificar</button></div>
		<div class="tabla-col"><button class="btn-table" ng-click="borrarPersona(persona)">Borrar</button></div>
	</div>

</div>