<div class="form-lista">
	<h1>Pedidos</h1>
	<table class="table table-hover table-responsive" width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th>ID</th>
			    <th>SUCURSAL</th>
			    <th>CLIENTE</th>
			    <th>FECHA DE PEDIDO</th>
			    <th>MONTO TOTAL</th>
			    <th>ESTADO</th>
			    <th>DETALLE</th>
			    <th>ACCIÓN</th>
			</tr>
			<tr ng-repeat="ped in ListaPedidos">
				<td>{{ped.id_pedido}}</td>
				<td><button class="btn btn-danger" ng-click="MostrarSucursal(ped.id_sucursal)">VER SUCURSAL</button></td>
				<td><button class="btn btn-danger" ng-click="MostrarCliente(ped.id_cliente)">VER CLIENTE</button></td>
				<td>{{ped.fechaPedido | date : "dd'/'MM'/'yyyy"}}</td>
				<td>${{ped.monto}}</td>
				<td>{{ped.estado}}</td>
				<td><button class="btn btn-danger" ng-click="MostrarDetalle(ped)">VER DETALLE</button></td>
				<td>
					<button class="btn btn-danger" ng-show="(ped.estado == 'entregado' && userActual.cargo == 'comprador')" ng-click="RealizarEncuesta(ped)">Realizar encuesta</button>
					<button class="btn btn-danger" ng-click="CambiarEstado(ped, 'cancelado')" ng-show="(ped.estado == 'pendiente' && (ped.id_cliente == userActual.id || userActual.cargo != 'comprador') )">CANCELAR PEDIDO</button>
					<button class="btn btn-success btn--small" ng-click="CambiarEstado(ped, 'aceptado')" ng-show="(ped.estado == 'pendiente' && userActual.cargo != 'comprador' )">ACEPTAR PEDIDO</button>
					<button class="btn btn-success" ng-click="CambiarEstado(ped, 'entregado')" ng-show="(ped.estado == 'aceptado' &&  userActual.cargo != 'comprador' )">FINALIZAR PEDIDO</button>
				</td>
			</tr>
	</table>


	<!-- MODALS -->


	<div id="id01" style="display:none;" class="modal">
	  <form class="modal-content animate" >
	      <modal-producto productoporparametro='ProductoParaMostrar' fotos-producto="FotosProducto"></modal-producto>

	      <button class="btn btn-danger" onclick="document.getElementById('id01').style.display='none'">CERRAR MODAL</button> 
	  </form>
	</div>


	<div id="id02" style="display:none;" class="modal">
	  <form class="modal-content animate" >
	      <modal-sucursal sucursalporparametro='SucursalParaMostrar' fotos-sucursal="FotosSucursal"></modal-sucursal>

	      <button class="btn btn-danger" onclick="document.getElementById('id02').style.display='none'">CERRAR MODAL</button> 
	  </form>
	</div>


	<div id="id03" style="display:none;" class="modal">
	  <form class="modal-content animate" >
	      <modal-usuario usuarioporparametro='ClienteParaMostrar'></modal-usuario>

	      <button class="btn btn-danger" onclick="document.getElementById('id03').style.display='none'">CERRAR MODAL</button> 
	  </form>
	</div>


	<div id="id04" style="display:none;" class="modal">
	  <form class="modal-content animate" >
	      <modal-encuesta pedidoporparametro='PedidoSeleccionado' registerparent="RegistrarEncuesta(encuesta)"></modal-encuesta>

	      <button class="btn btn-danger" onclick="document.getElementById('id04').style.display='none'">CERRAR MODAL</button> 
	  </form>
	</div>


	<div id="id06" style="display:none;" class="modal">
	  <form class="modal-content animate" >
	      <modal-pedido pedidoporparametro='PedidoParaMostrar'></modal-pedido>

	      <button class="btn btn-danger" onclick="document.getElementById('id06').style.display='none'">Cerrar</button> 
	  </form>
	</div>

</div>

