<div style="width:100%;" align=center>

	<h2>ENCUESTA DE SATISFACCIÓN</h2>

	<table>
		<tr>
			<th>Usuario</th>
			<td>{{usuario.id}}</td>
		</tr>
		<tr>
			<th>Nombre</th>
			<td>{{usuario.nombre}}</td>
		</tr>
		<tr>
			<th>Email</th>
			<td>{{usuario.correo}}</td>
		</tr>
		<tr>
			<th>Teléfono</th>
			<td>{{usuario.telefono}}</td>
		</tr>

	</table>

	<h3>Calidad del Producto:</h3>
	{{encuesta.puntuacion_producto}}
	
	<h3>Calidad de Atención:</h3>
	{{encuesta.puntuacion_medio}}

	<h3>Tiempo de Delivery:</h3>
	{{encuesta.puntuacion_rapidez}}

	<h3>Comentarios Adicionales:</h3>
	{{encuesta.adicional}}
</div>